<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collection Comparer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1 class="h1 text-center pb-3">Welcome to Collection Comparer!</h1>



    <form action="/personal" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">BGG Username <strong><span
              class="text-danger">(case-sensitive)</span></strong></label>
        <input type="text" class="form-control mb-2" id="username" name="username" aria-describedby="collectionUsername"
          placeholder="bgg-user123">

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>


  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>